@media only screen and (orientation: landscape) {
  .game-container {
    width: 40vw;
  }
}

@media only screen and (orientation: portrait) {
  .game-container {
    width: 90vw;
  }
}
.text-container {
  position: absolute;
  top: 45%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 40%;
  margin: 0;
  text-align: center;
  background: none;
  padding: 2rem 0;
  text-transform: uppercase;
}

.home-header {
  font-family: "Monoton", cursive;
  color: #e9a3df;
  text-shadow: 0 0 3px #e9a3df, 0 0 8px #e9a3df, 0 0 13px #de38c8,
    0 0 18px #de38c8, 0 0 23px #de38c8, 0 0 28px #de38c8, 0 0 33px #de38c8;
  width: 100%;
  padding: 4vw 0;
  font-size: 4vw;
  border: 4px solid #9edbfa;
  box-shadow: inset 0 0 3px #9edbfa, inset 0 0 5px #9edbfa,
    inset 0 0 10px #00a9fe, inset 0 0 15px #00a9fe, inset 0 0 20px #00a9fe,
    0 0 25px #00a9fe, 0 0 30px #00a9fe;
  border-radius: 4px;
  letter-spacing: 0.5vw;
}
#home-header-line2 {
  display: block;
  font-family: "Montserrat", sans-serif;
  color: #e9a3df;
  text-shadow: 0 0 5px #e9a3df, 0 0 10px #e9a3df, 0 0 15px #de38c8,
    0 0 20px #de38c8, 0 0 25px #de38c8, 0 0 30px #de38c8, 0 0 35px #de38c8;
  font-size: 2.5vw;
  padding-top: 2vw;
  letter-spacing: 0;
}

.game-container {
  margin: 1vw auto;
}
